form {
    max-width: 30em;

    border: 1px solid #d0d0d0;
    background: #f0f0f0;
    padding: 1em;
}

form > *,
form > .side-by-side > * {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

form > .side-by-side {
    display: flex;
}

form > .side-by-side > * {
    margin-right: 0.25em;
}

form > .side-by-side > *:last-child {
    margin-right: 0;
}


form label {
    font-weight: bold;
    margin-top: 1em;
}

form label:first-child {
    margin-top: 0;
}


input,
textarea,
select {
    border: 1px solid #bebebe;
    padding: 0.5em;
    margin: 0;
    outline: none;
}

textarea {
    height: 12em;
    resize: none;
    overflow: auto;
}
