#toolbar {
    margin-bottom: 1em;
}

#data-table {
    flex: 1;
    box-shadow: 1px 1px 1px rgba(0,0,0, 0.05);
}

h3 {
    color: crimson;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

#alerts {
    position: fixed;
    top: 1em;
    right: 1em;

    width: 50em;
    max-width: calc(100% - 2em);
}
